<footer class="footer">
  <div class="container footer-container">
    <div class="footer-core">
      <a class="wrapper-logo-header" href="/">
        <svg class="logo-footer-icon icon" width="16" height="16">
          <use href="img/icons.svg#footer-logo-icon"></use>
        </svg>
        <svg class="logo-text-footer-icon icon" width="148" height="12">
          <use href="img/icons.svg#footer-greenharvest-icon"></use>
        </svg>
      </a>
      <p class="footer-moto">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#how-it-works" class="nav-link">How It Works</a>
          </li>
          <li class="nav-item">
            <a href="#vegetables" class="nav-link">Vegetables</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <address class="footer-address">
        <ul class="address-list">
          <li>
            <a class="header-address-item" href="tel:+110001111111"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a class="header-address-item" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="policy-cookies"></div>
  </div>
</footer>
