<footer class="footer">
  <div class="container footer-container">
    <div class="footer-core">
      <div class="footer-logo">
        <svg class="footer-logo-picture-icon" width="16" height="16">
          <use href="../images/icons.svg#footer-logo-picture-icon"></use>
        </svg>
        <svg class="footer-logo-name-icon" width="148" height="12">
          <use href="../images/icons.svg#footer-logo-name-icon"></use>
        </svg>
      </div>
      <p class="footer-moto">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
      <nav class="header-navi">
        <a class="header-logo" href="./index.html"
          >Web<span class="header-logo-span">Studio</span></a
        >
        <ul class="header-navi-list">
          <li class="header-navi-item">
            <a class="header-navi-link current" href="./index.html">Studio</a>
          </li>
          <li class="header-navi-item">
            <a class="header-navi-link" href="">Portfolio</a>
          </li>
          <li class="header-navi-item">
            <a class="header-navi-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="header-address">
        <ul class="address-list">
          <li>
            <a class="header-address-item" href="tel:+110001111111"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a class="header-address-item" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="policy-cookies"></div>
  </div>
</footer>
