<footer class="footer">
  <div class="container footer-container">
    <div class="footer-core">
      <div class="footer-logo-moto">
        <a class="wrapper-logo-header wrapper-logo-footer" href="/">
          <svg class="logo-header-icon icon" width="16" height="16">
            <use href="img/icons.svg#logo"></use>
          </svg>
          <svg class="logo-text-header-icon icon" width="148" height="12">
            <use href="img/icons.svg#logo-green-harvest"></use>
          </svg>
        </a>
        <p class="footer-moto">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-navi-address">
        <nav class="navi-footer">
          <ul class="navi-list">
            <li class="navi-item">
              <a href="#how-it-works" class="navi-link">how it works</a>
            </li>
            <li class="navi-item">
              <a href="#vegetables" class="navi-link">Vegetables</a>
            </li>
            <li class="navi-item">
              <a href="#reviews" class="navi-link">Reviews</a>
            </li>
          </ul>
        </nav>
        <address class="footer-address">
          <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
          <span class="footer-post-address"
            >1678 S. Pioneer Road Salt<br />
            Lake City UT 84104</span
          >
        </address>
      </div>
    </div>
    <div class="policy-rights">
      <div class="policy-cookies">
        <a class="footer-policy-link" href="/">Privacy Policy</a>
        <p class="footer-policy-slash">/</p>
        <a class="footer-cookies-link" href="/">Cookie settings</a>
      </div>
      <a class="footer-rights-link" href="/">©Green Harvest 2023</a>
    </div>
  </div>
</footer>
