<header class="header">
  <div class="header-contaiter container">
    <a class="wrapper-logo-header logo-common" href="./src/index.html">
      <svg class="logo-header-icon icon" width="16" height="16">
        <use href="img/icons.svg#logo"></use>
      </svg>
      <svg class="logo-text-header-icon icon" width="148" height="12">
        <use href="img/icons.svg#logo-green-harvest"></use>
      </svg>
    </a>
    <button class="menu-button" type="button" id="open-modal-btn">
      <svg class="menu-icon" width="32" height="32">
        <use href="img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how-it-works" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
      <a class="btn-shop-now" href="#you-order">shop now</a>
    </nav>
  </div>
</header>
