<header class="header">
    <div class="header-contaiter container">
        <a href="/">
            <svg class="logo-header-icon" width="168" height="16">
                <use href="img/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <button class="menu-button" type="button">
            <svg class="menu-icon" width="32" height="32">
                <use href="img/icons.svg#icon-burger-menu"></use>
            </svg>
        </button>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <p id="how-it-works" class="nav-link">How It Works</p>
                </li>
                <li class="nav-item">
                    <p id="vegetables" class="nav-link">Vegetables</p>
                </li>
                <li class="nav-item">
                    <p id="reviews" class="nav-link">Reviews</p>
                </li>
            </ul>
            <button class="btn-shop-now button" type="button">
                shop now
            </button>
        </nav>
    </div>
</header>