<section class="vegetables" id="vegetables">
  <div class="container">
    <div class="vegetables_title">
      organic
      <span class="vegetables_color">vegetables</span>
    </div>
    <p class="vegetables_text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables_list">
      <li class="vegetables_item">
        <div class="vegetables_info">
          <p class="vegetables_list-text">eggplant</p>
          <span class="vegetables_list-section"> 60 USD / kg </span>
        </div>
        <div class="vegetables_cover">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/products-desktop/eggplant-desktop.png    1x,
                ./img/vegetables/products-desktop/eggplant-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/products-tablet/eggplant-tablet.png    1x,
                ./img/vegetables/products-tablet/eggplant-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/vegetables/products-mobile/eggplant-mobile.png    1x,
                ./img/vegetables/products-mobile/eggplant-mobile@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/products-mobile/eggplant-mobile.png"
              class="vegetables_image"
              width="280"
              height="240"
              alt="eggplant"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables_item">
        <div class="vegetables_box">
          <p class="vegetables_list-text">leek</p>
          <span class="vegetables_list-section"> 60 USD / kg </span>
        </div>
        <div class="vegetables_cover">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/products-desktop/leek-desktop.png    1x,
                ./img/vegetables/products-desktop/leek-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/products-tablet/leek-tablet.png    1x,
                ./img/vegetables/products-tablet/leek-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/vegetables/products-mobile/leek-mobile.png    1x,
                ./img/vegetables/products-mobile/leek-mobile@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/products-mobile/leek-mobile.png"
              class="vegetables_image"
              width="280"
              height="240"
              alt="leek"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables_item">
        <div class="vegetables_box">
          <p class="vegetables_list-text">mushrooms</p>
          <span class="vegetables_list-section"> 60 USD / kg </span>
        </div>
        <div class="vegetables_cover">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/products-desktop/mushrooms-desktop.png    1x,
                ./img/vegetables/products-desktop/mushrooms-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/products-tablet/mushrooms-tablet.png    1x,
                ./img/vegetables/products-tablet/mushrooms-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/vegetables/products-mobile/mushrooms-mobile.png    1x,
                ./img/vegetables/products-mobile/mushrooms-mobile@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/products-mobile/mushrooms-mobile.png"
              class="vegetables_image"
              width="280"
              height="240"
              alt="mushrooms"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables_item">
        <div class="vegetables_box">
          <p class="vegetables_list-text">corn</p>
          <span class="vegetables_list-section"> 60 USD / kg </span>
        </div>
        <div class="vegetables_cover">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/products-desktop/corn-desktop.png    1x,
                ./img/vegetables/products-desktop/corn-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/products-tablet/corn-tablet.png    1x,
                ./img/vegetables/products-tablet/corn-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/vegetables/products-mobile/corn-mobile.png    1x,
                ./img/vegetables/products-mobile/corn-mobile@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/products-mobile/corn-mobile.png"
              class="vegetables_image"
              width="280"
              height="240"
              alt="corn"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables_item">
        <div class="vegetables_box">
          <p class="vegetables_list-text">sweet potatoes</p>
          <span class="vegetables_list-section"> 60 USD / kg </span>
        </div>
        <div class="vegetables_cover">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/products-desktop/potatoes-desktop.png    1x,
                ./img/vegetables/products-desktop/potatoes-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/products-tablet/potatoes-tablet.png    1x,
                ./img/vegetables/products-tablet/potatoes-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/vegetables/products-mobile/potatoes-mobile.png    1x,
                ./img/vegetables/products-mobile/potatoes-mobile@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/products-mobile/potatoes-mobile.png"
              class="vegetables_image"
              width="280"
              height="240"
              alt="potatoes"
            />
          </picture>
        </div>
      </li>
      <li class="vegetables_item">
        <div class="vegetables_box">
          <p class="vegetables_list-text">carrot</p>
          <span class="vegetables_list-section"> 60 USD / kg </span>
        </div>
        <div class="vegetables_cover">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/vegetables/products-desktop/carrot-desktop.png    1x,
                ./img/vegetables/products-desktop/carrot-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/vegetables/products-tablet/carrot-tablet.png    1x,
                ./img/vegetables/products-tablet/carrot-tablet@2x.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/vegetables/products-mobile/carrot-mobile.png    1x,
                ./img/vegetables/products-mobile/carrot-mobile@2x.png 2x
              "
            />
            <img
              src="./img/vegetables/products-mobile/carrot-mobile.png"
              class="vegetables_image"
              width="280"
              height="240"
              alt="carrot"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
