/* Пишемо виключно тільки свою секцію. 
Базові, загальні стилі вже прописані в окремих файлах. */
.section-text {
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .section-text {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.96px;
    max-width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .section-text {
    font-size: 76px;
    line-height: 76px;
    letter-spacing: -1.14px;
    max-width: 1080px;
  }
}
.section-costume-text {
  display: inline-block;
  width: fit-content;
  background-color: #576f35;
  color: #fff;
  border-radius: 10px;
}
