html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
