/* Пишемо виключно тільки свою секцію. 
Базові, загальні стилі вже прописані в окремих файлах. */

.footer {
  max-width: 375px;
  background-color: #7a3145;
  padding: 40px 20px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  align-content: center;
  /* gap: 72px; */
}

.footer-core {
}

.wrapper-logo-footer {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  margin-bottom: 14px;
}

.logo-footer-icon {
  margin-right: 4px;
}

.icon {
}
.logo-text-footer-icon {
}

.footer-moto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.nav {
  margin-bottom: 40px;
}

.nav-list {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 8px; */
  /* margin-right: 20px; */
}

.nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.nav-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.footer-address {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  margin-bottom: 80px;
}
/* .address-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
} */
.footer-tel {
  color: #fbfbfb;
  margin-bottom: 14px;
}

.policy-rights {
}

.policy-cookies {
}
.footer-policy-link {
}
.footer-policy-slash {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
}
.footer-cookies-link {
}
.footer-rights-link {
}
