/* Пишемо виключно тільки свою секцію. 
Базові, загальні стилі вже прописані в окремих файлах. */
.header {
  position: absolute;
  width: 100%;
}

.header-contaiter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .header-contaiter {
    margin-top: 32px;
  }
}
.wrapper-logo-header {
  display: flex;
  gap: 4px;
}
@media only screen and (min-width: 768px) {
  .wrapper-logo-header {
    gap: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-header-icon {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-text-header-icon {
    width: 188px;
    height: 17px;
  }
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .menu-icon {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
}
.nav {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .nav {
    display: flex;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px;
  transition: 350ms ease-in-out;
}
@media only screen and (hover: hover) {
  .nav-link:hover,
  .nav-link:focus {
    background-color: #ccddb7;
    color: #576f35;
    border: 1px solid #ccddb7;
  }
}
.nav-link:active {
  background-color: #fbfbfb;
  color: #576f35;
}
.btn-shop-now {
  width: 158px;
  color: #fbfbfb;
  line-height: 1.11;
  letter-spacing: -0.01em;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 32px;
  background-color: #7a3145;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 350ms ease-in-out;
}

@media only screen and (min-width: 1280px) {
  .btn-shop-now:hover,
  .btn-shop-now:focus {
    background-color: #d4bfc4;
    color: #7a3145;
  }
}

.btn-shop-now:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

.btn {
  background-color: transparent;
  border: transparent;
}
