/* #region mobile */

.works-wrapper {
  padding: 40px 20px;
  background-color: #7a3145;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-block {
  display: block;
  max-width: 335px;
}
.works-img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.2);
}

.works-right-side {
  display: flex;
  flex-direction: column;
  background-color: #576f35;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  gap: 24px;
  gap: 20px;
  max-width: 335px;
}

.works-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.works-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
}

.works-item {
  counter-increment: item;
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px 27px 12px 100px;

  border-radius: 15px;

  min-height: 76px;
  background: #fbfbfb;
  gap: 24px;
}
.works-item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  content: counter(item) '';
  font-weight: 600;
  font-size: 18px;

  line-height: 1.11;
  letter-spacing: -0.01em;
  border-radius: 50%;
  background-color: #7a3145;

  border: 5px solid #d4bfc4;

  width: 52px;
  height: 52px;
}

.text-accent {
  color: #d4bfc4;
}
.works-desc {
  font-size: 14px;
  line-height: 1.42;
}
.works-text {
  font-size: 14px;
  line-height: 1.42;
  color: #858585;
}
.item-accent {
  font-weight: 700;
  color: #141414;
}
/* #endregion */

/* #region tablet */
@media only screen and (min-width: 768px) {
  .works-wrapper {
    padding: 100px 0;
  }

  .img-block {
    max-width: 704px;
  }
  .works-img {
    width: 640px;
    height: 640px;
  }
  .works-right-side {
    padding: 100px 164px;
    min-height: 708px;
    gap: 52px;
  }
  .sidebar {
    gap: 24px;
    width: 440px;
  }
  .works-subtitle {
    font-size: 32px;
  }
  .works-desc {
    font-size: 16px;
    line-height: 1.25;
  }
  .works-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .works-item {
    padding-right: 15px;
    width: 440px;
  }
  .works-list {
    width: 440px;
  }
}
/* #endregion */

/* #region desktop */
@media only screen and (min-width: 1280px) {
  .how-it-works {
    display: flex;
  }

  .works-wrapper {
    width: 50%;
    justify-content: right;
    padding-right: 100px;
  }

  .works-img {
    width: 440px;
    height: 560px;
  }
  .works-right-side {
    display: block;

    width: 50%;
    justify-content: start;
    padding-left: 100px;
  }

  .works-subtitle {
    font-size: 32px;
  }
  .works-item {
    padding-right: 15px;
    width: 440px;
  }
  .works-desc {
    margin-bottom: 104px;
  }
}

/* #endregion */
