a{
    text-decoration: none;
}
.mobile-menu {
    width: 375px;
    height: 812px;
    background-color: #5A6934;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
    position: relative;
}
.modal-btn{
    position: absolute;
    margin-left: 280px;
    cursor: pointer;
    
}
.menu-list{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 75%;
        gap: 24px;
        color: white;
}
.menu-item{
    border: 1px solid white;
        border-radius: 12px;
        padding: 12px 16px;
        width: 118px;
        height: 44px;
        text-align: center;
}

.item-text{
    color: white;
    font: 500 14px / 143% var(--font-family);
        text-align: center;
}
.shop-now-btn{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        border-radius: 30px;
        border: none;
            padding: 16px 41px;
            width: 175px;
            height: 52px;
            background-color: #7A3145;
            color:white;
            bottom:52px;
            cursor: pointer;}