.reviews-section {
 margin-bottom: 80px;
  width: 100%;  

}

.title {
  width: 553px;
  font-weight: 600;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  font-size: 64px;
}

.highlights {
  color: #576F35;
}

.reviews-subtitle {
  margin-top: 24px;
  margin-bottom: 52px; 
  text-align: left; 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428;
  color: #141414;
}
.reviews-list {
  display: flex;
  gap: 24px; 
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none; 
}

.reviews-item {
  width: 344px;
  background-color: #f9f9f9;
  padding: 20px 16px;
  border-radius: 24px;
  text-align: center;
  border: 1px solid #d4bfc4;

}

.reviews-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-name {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
}

.paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428;
  text-align: center;
  color: #858585;
}

/* Планшеты (768px) */
@media only screen and (max-width: 1024px) {
  .reviews-section {
    padding-top: 50px;
  }

  .reviews-list {
    justify-content: flex-start;
  }

  .reviews-item {
    flex: 0 0 340px;
  }

  .reviews-item:nth-child(3) {
    display: none;
  }
  .title { 
    font-size: 64px;
    width: 553px;
  }
}

@media only screen and (max-width: 767px) {
  .reviews-section{
    margin-bottom: 80px ;
  }
  .title { 
    font-size: 48px;
    width: 335px;
  }
  .reviews-subtitle {
    margin-bottom: 40px; 
  }

  .reviews-list {
    justify-content: flex-start; 
  }

  .reviews-item {
    flex: 0 0 100%; 
    max-width: 335px;
    margin: 0 auto;
  }

  .reviews-item:nth-child(2),
  .reviews-item:nth-child(3) {
    display: none; 
  }
}
