.reviews-section {
  padding: 80px 0;
}

.title {
  width: 100%;
  font-weight: 600;
  line-height: 1.08333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #141414;
  font-size: 48px;
  margin-bottom: 24px;
}

.highlights {
  color: #576f35;
}

.reviews-subtitle {
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428;
  color: #141414;
}
.reviews-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.reviews-item {
  width: 100%;
  max-width: 335px;
  padding: 20px 16px;
  border-radius: 24px;
  text-align: center;
  border: 1px solid #d4bfc4;
  box-sizing: border-box;
}

.reviews-img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}

.paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.428;
  text-align: center;
  color: #858585;
  max-width: 287px;
}
.reviews-item:nth-child(2),
.reviews-item:nth-child(3) {
  display: none;
}

/* Tablet (768px) */
@media only screen and (min-width: 768px) {

  .paragraph {
    font-size: 16px;
    line-height: 1.25;
  }
  .reviews-list {
    gap: 24px;
  }
  .reviews-item {
    padding: 20px;
  }

  .reviews-item:nth-child(2) {
    display: block;
  }
  .title {
    font-size: 64px;
    width: 553px;
  }
  .reviews-subtitle {
    width: 553px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 1.25;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  .title {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.01em;
  }
  .reviews-subtitle {
    font-weight: 500;
  }
  .reviews-item {
    gap: 24px;
  }
  .reviews-item:nth-child(2),
  .reviews-item:nth-child(3) {
    display: block;
  }
}
